{% extends "base.html.twig" %}
{% block title %}Doudounes{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('zoombox/zoombox.css') }}">
    <link rel="stylesheet" href="{{ asset('css/rounded.css') }}">
    <link rel="stylesheet" href="{{ asset('css/clone2.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


   {#<link rel="stylesheet" href="{{ asset('css/images.css') }}">#}
{% endblock stylesheet %}

{% block updateButtonLink %}{{ path('UpdateDoudounes') }}{% endblock updateButtonLink %}



{% block folder %}{{ path('ExploDoudounes') }}{% endblock folder %}


{% block test %}

{% endblock test %}



{% block secondarytxt %}Doudounes{% endblock secondarytxt %}
{% block pathEraseAll %}{{ path('EraseDoudounesAll') }}{% endblock %}




{% block item0001Active %}active{% endblock item0001Active %}


{% block src %}src="../img/coverDoudounes_{{ bg_ramdom3 }}.jpg"{% endblock src %}


{% block thumbnails %}


    {% for thumb in thumbs %}




         <article class="fold ">
             <div id="divThumb" class="top">
                 <img id="thumb" class="img-fluid img-thumbnail thumbs "
                      src="{% block levelLinkThumbs %}../{% endblock levelLinkThumbs %}{{ thumb.dirname }}{{ thumb.basename }}"
                      title="{{ thumb.basename }} " alt=""></div>

             <h2>
                 <a href="{% block levelLink %}../{% endblock levelLink %}img/{% block item %}doudounes{% endblock item %}/{{ thumb.basename }}"
                    rel="zoombox[{% block zoomboxVille %}doudounes{% endblock zoomboxVille %}]"><i class="far fa-eye"
                                                                                                   style="color: #1E90FF; margin-right: 12px; "></i>

                 </a>






                 <a href="{% block eraseItem %}{{ path('EraseDoudounes', {'basename': thumb.getBasename,'id': thumb.getId ,'images_id': thumb.getImagesId } ) }}{% endblock eraseItem %}"><i class="fas fa-trash" style="color: #F00;"></i>
                     </a>


             </h2>
             <div class="bot">
                 <img id="thumb" class="img-fluid img-thumbnail thumbs "
                      src="{% block levelLinkThumbs2 %}../{% endblock levelLinkThumbs2 %}{{ thumb.dirname }}{{ thumb.basename }}"
                      title="{{ thumb.basename }} " alt="">
             </div>

         </article>


{% endfor %}
{% endblock thumbnails %}


{#

{% block levelLinkThumbs %}../{% endblock levelLinkThumbs %}
{% block levelLinkThumbs2 %}../{% endblock levelLinkThumbs2 %}
{% block levelLink%}../{% endblock levelLink %}

#}






{% block javaScript %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript" src="{{ asset('zoombox/zoombox.js') }}"></script>



{% endblock javaScript %}